@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400&family=Inter+Tight:wght@600&display=swap");
@import "tailwindcss";

@layer base {
    h1 {
        @apply text-4xl
    }
    h2 {
        @apply text-3xl
    }
    h3 {
        @apply text-2xl
    }
    h1 {
        @apply text-xl
    }
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

@theme {
  --color-dsp-orange: #ff6d25;
  --color-dsp-orange_medium: #ffb697;
  --color-dsp-orange_light: #fedac7;
  --color-dsp-white: #ffffff;
}

/* Chrome, Safari und Edge */
::-webkit-scrollbar {
  width: 4px;
  height: 8px; /* Höhe der horizontalen Scrollbar */
}

::-webkit-scrollbar-track {
  background: #ffe7d4; /* Hintergrund der Scrollbar-Spur */
}

::-webkit-scrollbar-thumb {
  background: #ff863d; /* Farbe des Daumens */
  border-radius: 4px;
}

/* Regeln wurden in ComingSoonOverlaySmall.css verschoben */
/* @keyframes spin-slow { ... } */
/* .animate-spin-slow { ... } */
